@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


body {
  /* display: flex;
    flex-direction: column; */
  min-height: 100vh;
  margin: 0;

  overflow-y: scroll;
}

.scroll-container {
  overflow-y: scroll;
  /* or auto */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

nav {
  background-color: #99aa6f;
  font-family: 'Cinzel';
  margin-bottom: 20px;
}

header {
  margin: 0 auto;
  /* padding-top: 10px; */

}

h1 {
  margin: 0 auto;
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

main {
  /* flex: 1; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  margin: 0 auto;
  min-height: auto;
  width: 80%;
  max-width: 2000px;
}

main p {
  margin: 0px;
  font-family: 'Georgia';
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c2cf9f;
  height: 160px;
  width: 100vw;
}

footer p {
  margin: 2px
}

hr {
  margin: 50px;
}

.postheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article img {
  display: block;
  margin: 0 auto;
}

.logo {
  height: 95%;
  width: auto;
}

.topbar {
  position: sticky;
  top: 0;
  /* z-index: 10; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* height: 7vh;
  min-height: 65px; */
  /* padding: 0vh 0vw; */
  ;
  backdrop-filter: saturate(180%) blur(8px)
}

.topbarbuttons {
  /* position: sticky; */
  top: 0;
  /* z-index: 10; */
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  height: 100%;
  width: auto
}

buttons button {
  height: 100%;
  background-color: #99aa6f;
  border: 0;
  margin: 0;
  font-family: 'Cinzel';
  font-weight: 500;
}

.loginButton {
  background-color: #99aa6f;
  border: 0;
  margin: 0;
  font-family: 'Cinzel';
  font-weight: 500;
  height: 28px;
}

.loginButton:hover {
  background-color: #b0c284;
}

.checkbox {
  margin-left: 0;
  accent-color: #99aa6f;
}

buttons button:hover {
  background-color: #b0c284;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
  /* padding: 6px 10px; */
  text-align: center;
}

article {
  margin-bottom: 60px;
}
 article table{
  margin-bottom: 24px;
 }
/* Columna base */
[class*="col-"] {
  float: left;
  /* padding: 0.5em; */
  box-sizing: border-box;
}

.alomanticSymbol{
  height: 40px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Contenidor */
.container {
  width: 100%;
  overflow: hidden;
  /* neteja floats */
}

.defaultpadding{
  padding-left: 5%;
  padding-right: 5%;
}

.textBox {
  height: 28px;
  margin-bottom: 12px;
  border: 1px solid #99aa6f;
  outline-color: #99aa6f;
  box-shadow: none;
}

/* Columnes (16-grid) */
.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.5%;
}

.col-11 {
  width: 68.75%;
}

.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}

.lonelyBttn {
  margin-left: 0vw;
}

@media (min-width: 250px) {
  .col-xs-1 {
    width: 6.25%;
  }

  .col-xs-2 {
    width: 12.5%;
  }

  .col-xs-3 {
    width: 18.75%;
  }

  .col-xs-4 {
    width: 25%;
  }

  .col-xs-5 {
    width: 31.25%;
  }

  .col-xs-6 {
    width: 37.5%;
  }

  .col-xs-7 {
    width: 43.75%;
  }

  .col-xs-8 {
    width: 50%;
  }

  .col-xs-9 {
    width: 56.25%;
  }

  .col-xs-10 {
    width: 62.5%;
  }

  .col-xs-11 {
    width: 68.75%;
  }

  .col-xs-12 {
    width: 75%;
  }

  .col-xs-13 {
    width: 81.25%;
  }

  .col-xs-14 {
    width: 87.5%;
  }

  .col-xs-15 {
    width: 93.75%;
  }

  .col-xs-16 {
    width: 100%;
  }

  .hid-xs {
    display: none;
  }

  .lonelyBttn {
    margin-left: 0vw;
  }
}



/* Columnes small */
@media (min-width: 500px) {
  .col-sm-1 {
    width: 6.25%;
  }

  .col-sm-2 {
    width: 12.5%;
  }

  .col-sm-3 {
    width: 18.75%;
  }

  .col-sm-4 {
    width: 25%;
  }

  .col-sm-5 {
    width: 31.25%;
  }

  .col-sm-6 {
    width: 37.5%;
  }

  .col-sm-7 {
    width: 43.75%;
  }

  .col-sm-8 {
    width: 50%;
  }

  .col-sm-9 {
    width: 56.25%;
  }

  .col-sm-10 {
    width: 62.5%;
  }

  .col-sm-11 {
    width: 68.75%;
  }

  .col-sm-12 {
    width: 75%;
  }

  .col-sm-13 {
    width: 81.25%;
  }

  .col-sm-14 {
    width: 87.5%;
  }

  .col-sm-15 {
    width: 93.75%;
  }

  .col-sm-16 {
    width: 100%;
  }

  .hid-sm {
    display: none;
  }

  .lonelyBttn {
    margin-left: 25vw;
  }
}

/* Columnes medium */
@media (min-width: 768px) {
  .col-md-1 {
    width: 6.25%;
  }

  .col-md-2 {
    width: 12.5%;
  }

  .col-md-3 {
    width: 18.75%;
  }

  .col-md-4 {
    width: 25%;
  }

  .col-md-5 {
    width: 31.25%;
  }

  .col-md-6 {
    width: 37.5%;
  }

  .col-md-7 {
    width: 43.75%;
  }

  .col-md-8 {
    width: 50%;
  }

  .col-md-9 {
    width: 56.25%;
  }

  .col-md-10 {
    width: 62.5%;
  }

  .col-md-11 {
    width: 68.75%;
  }

  .col-md-12 {
    width: 75%;
  }

  .col-md-13 {
    width: 81.25%;
  }

  .col-md-14 {
    width: 87.5%;
  }

  .col-md-15 {
    width: 93.75%;
  }

  .col-md-16 {
    width: 100%;
  }

  .hid-xs {
    display: block;
  }

  .lonelyBttn {
    margin-left: 0vw;
  }

  nav {
    height: 65px;
  }
  .height100 {
    height: 100%;
  }
}

/* Columnes large */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 6.25%;
  }

  .col-lg-2 {
    width: 12.5%;
  }

  .col-lg-3 {
    width: 18.75%;
  }

  .col-lg-4 {
    width: 25%;
  }

  .col-lg-5 {
    width: 31.25%;
  }

  .col-lg-6 {
    width: 37.5%;
  }

  .col-lg-7 {
    width: 43.75%;
  }

  .col-lg-8 {
    width: 50%;
  }

  .col-lg-9 {
    width: 56.25%;
  }

  .col-lg-10 {
    width: 62.5%;
  }

  .col-lg-11 {
    width: 68.75%;
  }

  .col-lg-12 {
    width: 75%;
  }

  .col-lg-13 {
    width: 81.25%;
  }

  .col-lg-14 {
    width: 87.5%;
  }

  .col-lg-15 {
    width: 93.75%;
  }

  .col-lg-16 {
    width: 100%;
  }

  .lonelyBttn {
    margin-left: 0vw;
  }
  /* .height100 {
    height: 100%;
  } */
}

/*FLEX*/

.flex {
  display: flex;
}

.flexJustify {
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}






