@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav{
    background-color: #99aa6f;
    font-family: 'Cinzel';
}

header{
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 7.5%;
    
}
h1{margin: 0 auto; font-family: 'Cinzel', serif;}
h2{font-family: 'Cinzel', serif; font-weight: 600;}

main{
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    height: auto;
    width: 80%;
    max-width: 2000px;
}
main p{margin: 0px; font-family: 'Georgia';}

footer{
    background-color: #c2cf9f;
    height: 160px;
    width: 100vw
}

hr{margin: 50px;}

.topbar{position:sticky;top:0;z-index:10;display:flex;justify-content:space-between;align-items:center;height: 7vh;min-height: 32px; padding:0vh 0vw; ;backdrop-filter:saturate(180%) blur(8px)}
.topbarbuttons{position:sticky;top:0;z-index:10;display:flex;justify-content:flex-end;align-items:center;height: 100%; width: 75%}
buttons button{height: 100%;width: 20%; background-color: #99aa6f; border: 0; margin: 0;font-family: 'Cinzel'; font-weight: 500;}
buttons button:hover{background-color: #b0c284;}